# Arquivos PDF gerados/localmente
*.pdf

# Imagens e fotos locais
*.png
*.jpg
*.jpeg

# Apresentações
*.ppt
*.pptx

# Arquivos auxiliares do LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
